* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    /* user-select: none; */
}

html {
    color: #fdfdfd;
    border: #AA0000;
    font-size: 15px;
}

h1 {
    font-size: 15px;
    margin-left: 20px;
    color: red;
}

h2 {
    font-size: 15px;
    margin-left: 40px;
    color: green;
}

h3 {
    font-size: 15px;
    margin-left: 60px;
    color: rgb(183, 9, 183);
}

#container {
    margin: 0 auto;
    border: 3px solid #AAA;
    margin: 20px;
    background-color: #0000AA;
    color: #fff;
}

#infoContainer {
    display: flex;
    justify-content: space-around;
    border: 1px solid #aaa;
    /*    margin-bottom: 5px;*/
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #AAA;
    margin: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid #aaa;
    text-transform: uppercase;
}

.info p {
    background-color: #aaa;
    color: #AA0000;
}

#input {
    background-color: #0000AA;
    color: #fff;

}

#display {
    width: auto;
    height: 70vh;
    outline: none;
    resize: none;
    overflow: hidden;
    /* user-select: none; */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    /* padding: 10px; */
}

#display .userInput {
    text-align: start;
    margin: 0;
    color: #AAA;
}


#display .command {
    margin-bottom: 29px;
}

#input {
    /* width: 1000px; */
    /* max-width: 85%; */
    outline: none;
    display: inline;
    caret-color: #AAA;
    /* font-size: 20px; */
    /* padding: 2px 0 2px 2px; */
    color: #AAA;
    margin-left: -8px;
}

#startCharacter {
    /* display: inline; */
    /* font-weight: 900; */
    /* font-size: 20px; */
    margin: auto 0 auto 0;
    /*    pointer-events: none;*/
    /* padding: 0 10px; */
    color: #aaa;
}